.aside {
  margin-left: 20px;

  &__basket {
    position: fixed;
    top: calc(50% - 140px);
    right: -33px;
    opacity: 0;
    padding: 9px 32px;
    text-align: center;
    animation: r-to-l;
    animation-duration: .7s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }

  &__slogan {
    font-family: Yeseva One;
    font-size: 27.5px;
    line-height: 37px;
    margin-bottom: 80px;
    text-transform: uppercase;

    & span {
      font-size: 17.3px;
      line-height: 23px;
    }
  }

  &__menu {

    & > li {
      position: relative;
      display: block;

      & > a {
        display: block;
        font-size: 16px;
        font-weight: 500;
        padding: 20px 0;
        position: relative;

        &:hover {
          color: $gold;
        }
      }
    }
  }
}

.aside__menu-lvl2 {
  position: absolute;
  z-index: 5;
  width: 600px;
  left: 100%;
  top: -100px;
  background: white;
  visibility: hidden;
  opacity: 0;
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: .3s linear;
  columns: 150px 3;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.22);
  padding: 35px !important;

  &::before {
    content: url('../img/menuarr.png');
    display: block;
    position: absolute;
    left: -50px;
    top: 80px;

  }

  & > li {
    position: relative;

    a {
      display: inline-block;
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 10px;

      &:hover {
        color: $gold;
      }
    }
  }
}

.aside__menu-lvl2 .aside__menu-lvl2 {
  position: absolute;
  left: 100%;
  top: -1px;
  transition: .3s linear;
}

.aside__menu li:hover > .aside__menu-lvl2 {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 1919px){
  .aside {
    margin-left: 20px;

    &__basket {

    }

    &__slogan {
      font-size: 27px;
      line-height: 34px;
      margin-bottom: 40px;
      text-transform: uppercase;

      & span {
        font-size: 17px;
        line-height: 22px;
      }
    }

    &__menu {

      & > li {

        & > a {
          font-size: 16px;
          padding: 15px 0;
        }
      }
    }
  }

}
@media screen and (max-width: 1599px){
  .aside {
    margin-left: 0px;

    &__basket {

    }

    &__slogan {
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 30px;
      text-transform: uppercase;

      & span {
        font-size: 14px;
        line-height: 18px;
      }
    }

    &__menu {

      & > li {

        & > a {
          font-size: 14px;
          padding: 10px 0;
        }
      }
    }
  }
  .aside__menu-lvl2 {
    padding: 30px !important;

    &::before {
      left: -50px;
      top: 72px;

    }

    & > li {

      a {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;

      }
    }
  }
}
@media screen and (max-width: 1199px){
  .aside {
    margin-left: 0px;

    &__menu {

      & > li {
        position: relative;
        display: block;

        & > a {
          text-align: center;
          display: block;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          padding: 10px;
          opacity: 0.5;
          color: $brown;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  .aside__menu-lvl2 {
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;

    z-index: 5;
    width: auto;
    left: auto;
    top: auto;
    background: transparent;
    visibility: hidden;
    display: none;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear;
    columns: 150px 3;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0px !important;
    &.active{
      display: block;
      transform: rotateX(0deg);
      visibility: visible;
      opacity: 1;
    }

    &::before {
      content: none;
      display: none;
    }

    & > li {
      display: block;
      text-align: center;
      position: relative;

      a {
        display: inline-block;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 10px;
text-align: center;
        &:hover {
          color: $gold;
        }
      }
    }
  }

  .aside__menu-lvl2 .aside__menu-lvl2 {
    position: relative;
    left: auto;
    top: auto;
    transition: .3s linear;
  }

  .aside__menu li:hover > .aside__menu-lvl2 {

  }
}