.board{
    padding: 60px 0;
    &__item{
        display: block;
        padding: 35px 40px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        transition: $transition4;
        &-s{
            padding: 20px 30px;
            height: 280px;
        }
        &:hover{
            transform: scale(1.05);
        }
    }
    &__info{
        color: #fff;
    }
    &__name{
        font-family: Yeseva One;
        font-size: 30px;
        line-height: 35px;
        &-b{
            font-size: 40px;
            line-height: 46px;
            padding-bottom: 15px;
        }
        
    }
    &__price{
        font-family: Circe;
        font-size: 40px;
        line-height: 59px;
        & > span{
            font-family: Geometria;
            font-size: 60px;
            line-height: 75px;
            font-weight: 600;

        }
    }
}
@media screen and (max-width: 1919px){
    .board{
        &__item{
            padding: 30px;
            &-s{
                padding: 15px 20px;
            }
        }
        &__name{
            font-size: 26px;
            line-height: 30px;
            &-b{
                font-size: 34px;
                line-height: 40px;
            }

        }
        &__price{
            font-size: 34px;
            line-height: 59px;
            & > span{
                font-size: 34px;
                line-height: 59px;
                font-weight: 600;

            }
        }
    }
}
@media screen and (max-width: 1599px){
    .board{
        padding: 50px 0;
        &__item{
            padding: 20px;
            &-s{
                padding: 15px 20px;
            }
        }
        &__name{
            font-size: 16px;
            line-height: 26px;
            &-b{
                font-size: 20px;
                line-height: 30px;
            }

        }
        &__price{
            font-size: 28px;
            line-height: 32px;
            & > span{
                font-size: 26px;
                line-height: 30px;
                font-weight: 600;

            }
        }
    }
}
@media screen and (max-width: 991px){
    .board{
        padding: 40px 0;
        &__item{
            height: 450px;
            padding: 15px 20px;
            margin-bottom: 35px;
            &-s{
                padding: 15px 20px;
                height: 320px;
            }
        }
        &__name{
            font-size: 26px;
            line-height: 30px;
            &-b{
                font-size: 26px;
                line-height: 30px;
            }

        }
        &__price{
            font-size: 30px;
            line-height: 32px;
            & > span{
                font-size: 40px;
                line-height: 50px;
                font-weight: 700;

            }
        }
    }
}
@media screen and (max-width: 767px){
    .board{
        padding: 35px 0;
    }
}