.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: $gold;
    color: #fff;
    border-radius: $radiusBtn;
    text-transform: uppercase;
    font-weight: 800;
    transition: none;
    cursor: pointer;
    &:hover{
        background: linear-gradient(180deg, #FFE249 -1%, #B36C19 100%);
        color: #fff;
    }

    &-transparent{
        color: $brown;
        background: #FAF6F0;
        border: 1px solid $brown;
        font-weight: 400;
        &:hover{
            border: 1px solid #FAF6F0;
        }
    }
}