.footer {
  padding-top: 160px;

  &__title {
    font-family: Yeseva One;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 55px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;

    & > a {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 30px;

    }
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;

    &-b {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 35px;
      display: block;
    }

    &-s {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px;
    }
  }

  &-social {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 220px;

    &__item {

    }
  }

  &__tel {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 10px;
    display: block;
  }

  &__btn {
      display: flex;
    padding: 17px;
    margin-bottom: 55px;
  }
}
@media screen and (max-width: 1919px){
  .footer {
    padding-top: 140px;

  }
}
@media screen and (max-width: 1599px){
  .footer {
    padding-top: 120px;
    &__title {
      font-family: Yeseva One;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 35px;
    }

    &__menu {
      display: flex;
      flex-direction: column;
      margin-bottom: 80px;

      & > a {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 20px;

      }
    }

    &__text {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px;

      &-b {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 35px;
        display: block;
      }

      &-s {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
      }
    }

    &-social {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 220px;

      &__item {

      }
    }

    &__tel {
      font-size: 22px;
      line-height: 30px;
    }

    &__btn {
      font-size: 14px;
      width: 100%;
      padding: 10px;
      margin-bottom: 35px;
    }
  }
}
@media screen and (max-width: 991px){
  .footer {
    padding-top: 80px;
    &__title {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 25px;
    }

    &__menu {
      margin-bottom: 40px;

      & > a {
        font-size: 13px;
        line-height: 17px;
        margin-bottom: 15px;

      }
    }

    &__text {
      font-size: 11px;
      line-height: 16px;

      &-b {
        font-weight: 600;
        font-size: 11px;
        line-height: 17px;
        margin-bottom: 20px;
        display: block;
      }

      &-s {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
      }
    }

    &-social {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 220px;

      &__item {

      }
    }

    &__tel {
      font-size: 16px;
      line-height: 20px;
    }

    &__btn {
      font-size: 12px;
      width: 100%;
      padding: 8px;
      margin-bottom: 20px;
    }
  }
}