.news-block{
    padding: 60px 0;
    &__nav{
        &-slider{
            display: flex;
            margin-top: 30px;
        }
    }
    &__prev{
        cursor: pointer;
    }
    &__next{
        margin-left: 20px;
        transform: rotate(180deg);
        cursor: pointer;
    }
}
.js-news-block-tab{
    display: none;
    
    &.active{
        display: block;

    }
}
@media screen and (max-width: 767px){
    .news-block{
        &__nav-slider{
            z-index: 100;
            display: flex;
            margin-top: 0;
            position: absolute;
            bottom: 2px;
            right: 15px;
        }
    }

}
