.region{
    padding: 60px 0;
}
.subregion{
    &__name{
        font-size: 16px;
line-height: 20px;
font-weight: 700;
margin-bottom: 25px;
    }
    &__link{
        display: block;
        margin-bottom: 25px;
        font-weight: 500;
font-size: 16px;
line-height: 20px;
opacity: .5;
    }
}
.js-region-tabs,.js-subregion{
    display: none;
    &.active{
        display: block;
    }
}
