.subscribe-form {
  margin-top: 70px;
  max-width: 650px;
  padding: 50px 90px;
  background-image: url('../img/subscribebg-l.svg'), url('../img/subscribebg-r.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left, right;

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & > h2 {
      font-weight: 400;
      margin: 0 auto;
      font-family: Yeseva One;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      max-width: 250px;
      width: 100%;
      padding-bottom: 25px;
    }

    & > span {
      padding: 0 20px;
      width: 50%;
      margin-bottom: 25px;
    }

    & > p {
      text-align: center;
      font-size: 10px;
      line-height: 13px;
      margin-bottom: 15px;
      max-width: 320px;
    }

  }

  &__btn {
    padding: 13px 40px;
  }

  &__input {
    text-align: center;
  }
}

@media screen and (max-width: 1599px) {
  .subscribe-form {
    margin-top: 95px;
    max-width: 650px;
    padding: 40px;

    &__wrapper {
      & > h2 {
        font-weight: 400;
        margin: 0 auto;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        max-width: 250px;
        width: 100%;
        padding-bottom: 25px;
      }

      & > span {
        padding: 0 20px;
        width: 50%;
        margin-bottom: 25px;
      }

      & > p {
        text-align: center;
        font-size: 10px;
        line-height: 13px;
        margin-bottom: 15px;
        max-width: 320px;
      }

    }

    &__btn {
      padding: 10px 30px;
    }

    &__input {
      text-align: center;
    }
  }
}

@media screen and (max-width: 991px) {
  .subscribe-form {
    margin-top: 75px;

    &__wrapper {
      & > h2 {
        margin: 0 auto;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        max-width: 100%;
        width: 100%;
        padding-bottom: 25px;
      }

      & > span {
        padding: 0 20px;
        width: 50%;
        margin-bottom: 25px;
      }

      & > p {
        text-align: center;
        font-size: 10px;
        line-height: 13px;
        margin-bottom: 15px;
        max-width: 450px;
      }

    }

    &__btn {
      padding: 10px 30px;
    }

    &__input {
      text-align: center;
    }
  }
}

@media screen and (max-width: 479px) {
  .subscribe-form {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    padding: 100px 40px;
    background-image: url('../img/modalbg-t.svg'), url('../img/modalbg-b.svg');
    background-position: top, bottom;

    &__wrapper {
      & > span {
        padding: 0 20px;
        width: 100%;
        margin-bottom: 25px;
      }
    }

  }
}