.tabs{
    &__nav{
        padding: 35px 0 45px;
    }
    &__link{
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
        opacity: 0.8;
        text-align: center;
        margin-right: 40px;
        &.active{
            position: relative;
            opacity: 1;
            border-bottom: 1px solid $brown;
        }
    }
}